// .babelrc
{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "defaults"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],

    "env": {
        "test": {
            "plugins": ["@babel/transform-modules-commonjs"]
        }
    }
}
