// .babelrc
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults"
      }
    ]
  ],

  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
